@media screen and (max-width:900px)
{
    .benefit{
        margin: 0;
        padding: 0;
        
        .benefitTitle{
            font-size: 20px;
            width: 80%;
            margin: 50px auto;
            letter-spacing: 2px;
            font-style: italic;
        }
        .benefitContent{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 50px auto;
            .backGroundImg{
                z-index: -1;
                
            }
            .backGroundImg.bg1.right{
                position: absolute;
                top: 0;
                right: -100px;
                transform: translateX(120%);
                opacity: 0;
                    width: 200px;
                    transition: all 1s;
            }
            .backGroundImg.bg2.right{
                position: absolute;
                top: 180px;
                right: -100px;
                
                    width: 200px;
                
            }
            .backGroundImg.bg2.left{
                position: absolute;
                top: 0px;
                left: 0;
                opacity: 0;
                transform: translateX(-150%);
                    width: 200px;
                    transition: all 1s;
            }
            .imgRight.fade{
                opacity: 1;
                transform: translateX(0);
            }
            .imgRight{
                opacity: 0;
                transform: translateX(-150%);
            }
            .imgLeft.fade{
                opacity: 1;
                transform: translateX(0);
            }
            .imgLeft{
                opacity: 0;
                transform: translateX(150%);
            }
            .benefitImg{
                opacity: 0;
                transition: all 1s;
                width: 100%;
            }
            .benefitText.fade{
                .title,.description{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .benefitText{
                width: 100%;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                
                justify-content: center;
                p:nth-child(1){
                    transform:translateY(100%);
                    opacity: 0;
                    transition: all 1s;
                    font-style:bold;
                    font-size: 20px;
                    letter-spacing: 2px;
                    margin: 20px 0;
                }
                p:nth-child(2){
                    transform:translateY(100%);
                    opacity: 0;
                    transition: all 1s;
                    margin: 20px 0;
                    font-size: 14px;
                    letter-spacing: 1.5px;
                    font-style: italic;
                    color: rgba($color: #000, $alpha: 0.7);
                }
            }   
        }
        .quote
        {
            width: 80%;
            margin: 100px auto;
            height: 100%;
            text-align: center;
            p:nth-child(1)
            {
                font-style: italic;
    
                margin: 50px 0;
                font-size: 15px;
            }
            hr{
                width: 50px;
                margin: auto;
            }
            p:nth-child(3)
            {
                margin: 10px;
                font-size: 13px;
            }
            p:nth-child(4)
            {
                font-size: 10px;
            }
        }
    }
}
@media screen and (min-width:900px)
{
    .benefit{
        margin: 0;
        padding: 0;
        
        .benefitTitle{
            font-size: 20px;
            margin: 100px 100px;
            letter-spacing: 2px;
            font-style: italic;
        }
        .benefitContent{
            transition: all 1s ;
            position: relative;
            display: flex;
          
            width: 80%;
            margin: 200px auto;
            .backGroundImg{
                z-index: -1;
               
            }
            .backGroundImg.bg1.right.fade{
                transform: translateX(0%);
                opacity: 1;
            }
            .backGroundImg.bg1.right{
                position: absolute;
                top: 0;
                right: -100px;
                transform: translateX(120%);
                opacity: 0;
                    width: 200px;
                    transition: all 1s;
            }
            .backGroundImg.bg2.right{
                position: absolute;
                top: 180px;
                right: -100px;
                
                    width: 200px;
                
            }
            .backGroundImg.bg2.left.fade{
                opacity: 1;
                transform: translateX(0%);
            }
            .backGroundImg.bg2.left{
                position: absolute;
                top: 0px;
                left: 0;
                opacity: 0;
                transform: translateX(-150%);
                    width: 200px;
                    transition: all 1s;
            }
            .imgRight.fade{
                opacity: 1;
                transform: translateX(0);
            }
            .imgRight{
                opacity: 0;
                transform: translateX(-150%);
            }
            .imgLeft.fade{
                opacity: 1;
                transform: translateX(0);
            }
            .imgLeft{
                opacity: 0;
                transform: translateX(150%);
            }
            .benefitImg{
                opacity: 0;
                transition: all 1s;
                width: 50%;
            }
            .benefitText.fade{
                .title,.description{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .benefitText{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                justify-content: center;
                p:nth-child(1){
                    transform:translateY(100%);
                    opacity: 0;
                    transition: all 1s;
                    overflow: hidden;
                    width: 50%;
                    font-style:bold;
                    font-size: 20px;
                    letter-spacing: 2px;
                    margin: 20px 0;
                }
                p:nth-child(2){
                    overflow: hidden;
                    transform:translateY(100%);
                    opacity: 0;
                    transition: all 1s;
                    margin: 20px 0;
                    font-size: 14px;
                    letter-spacing: 1.5px;
                    font-style: italic;
                    width: 50%;
                    color: rgba($color: #000, $alpha: 0.7);
                }
            }   
        }
        .quote
        {
            width: 80%;
            margin: auto;
            height: 100%;
            text-align: center;
            p:nth-child(1)
            {
                font-style: italic;
    
                margin: 50px 0;
                font-size: 20px;
            }
            hr{
                width: 50px;
                margin: auto;
            }
            p:nth-child(3)
            {
                margin: 10px;
                font-size: 14px;
            }
            p:nth-child(4)
            {
                font-size: 12px;
            }
        }
    }
}